/* Common */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.content {
    width: 80%;
    min-width: 1170px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    background-color: #171100;
    border-radius: 999px;
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 600;
    padding: 11px 41px;
}

.btn:hover {
    opacity: 0.9;
}

/* Header */

.header {
    background: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 999;
}

.header .navbar {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .navbar .navbar_list {
    display: flex;
    margin-left: auto;
    margin-right: 70px;
    list-style: none;
    align-items: center;
}

.header .navbar .navbar_list .navbar_item a {
    position: relative;
    color: #5F5B53;
    font-size: 1.6rem;
    padding: 10px 21px;
}

.header .navbar .navbar_list .navbar_item a:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.header .navbar .navbar_list .navbar_item a:hover::after {
    content: "";
    display: block;
    position: absolute;
    left: 21px;
    bottom: 3px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

/* ========================= Hero ====================== */

.hero {
    padding-top: 56px;
    padding-bottom: 65px;
    background-color: #FFFCF4;
}

.hero .body {
    display: flex;
}

.hero .body .media-block {
    position: relative;
    width: 48%;
}

.hero .body .media-block .media-img{
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero .body .media-block .hero-summary {
    position: absolute;
    left: 300px;
    top: 393px;
    width: 222px;
    height: 196px;
    padding: 24px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero .body .media-block .hero-summary .item {
    display: flex;
    align-items: center;
}

.hero .body .media-block .hero-summary .item .icon {
    background-color: var(--back-color, #fff);
    border-radius: 50%;
    padding: 12px;
}

.hero .body .media-block .hero-summary .item .info {
    margin-left: 16px;
}

.hero .body .media-block .hero-summary .item .label {
    color: #5F5B53;
    font-size: 1.4rem;
    line-height: 1.86;
}

.hero .body .media-block .hero-summary .item .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.hero .body .hero-content {
    width: 52%;
    padding: 64px 0px 63px 230px;
}

.hero .body .hero-content h1 {
    color: #171100;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.hero .body .hero-content .desc {
    margin-top: 22px;
    color: #5F5B53;
    font-size: 1.8rem;
    line-height: 1.66;
}

.hero .body .hero-content .cta-group {
    display: flex;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 48px;
}

.hero .body .hero-content .cta-group .see-cource-btn {
    padding: 17px 33px;
    font-size: 1.8rem;
    background-color: #FFB900;
}

.hero .body .hero-content .cta-group .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hero .body .hero-content .cta-group .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    border-radius: 50%;
    background-color: #fff;
    width: 40px;
    height: 40px;
}

.hero .body .hero-content .cta-group .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero .body .hero-content .stats{
    margin-top: 8px;
}

.hero .body .hero-content .stats strong {
    padding-left: 28px;
    padding-right: 8px;
    color: #171100;
    font-size: 4.4rem;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    line-height: 1.23;
}

.hero .body .hero-content .stats strong:first-child {
    padding-left: 0;
}